* {
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-intro-mobile.png);
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 1.5em;
    min-height: 100vh;
}

/*HERO SECTION BELOW*/

.hero {
    text-align: center;
    font-size: 1rem;
}

.hero > h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
}

span {
    font-weight: 600;
}

/*'OTHER' SECTION BELOW*/

.stack {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: white;
    border-radius: .75rem;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);

}

#trial {
    background-color: hsl(248, 32%, 49%);
    border-radius: .75rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem 4em;
    text-align: center;
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

/*
label {
    position: relative;
    border: 1px dotted blue;
  }
  
  label:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 1.5rem;
    width: 20px;
    background: url(images/icon-error.svg) center / contain no-repeat;
    backgroun
  }
  */

input {
    width: 100%;
    border-radius: .4rem;
    outline: none;
    border: 3px solid hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: .9rem;
    padding: 1.25em 1em;
}

#submit-btn {
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: .4rem;
    color: whitesmoke;
    font-weight: 600;
    font-size: .9rem;
    padding: 1.3em 2em;
    box-shadow:hsl(154, 59%, 43%) 0px 4px 0px;
    
}

#submit-btn:hover {
    opacity: 0.5;
}

.error {
    color: hsl(0, 100%, 74%);
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: .75rem;
    text-align: end;
    font-style: italic;
}

#terms-services {
    color: hsl(246, 25%, 77%);
    font-size: .75rem;
    text-align: center;
}

#terms-services > span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
  
}

/*MEDIA QUERY*/

@media(min-width: 600px){

    body {
        background-image: url(images/bg-intro-desktop.png);
        background-size:cover ;
        margin: 0;
    }

    .main-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .split {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .split > * {
        width: 50%;
    }

    .split > * + * {
        margin-left: 4em;
    }

    .hero {
        text-align: start;
    }

}

